* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

:root {
  --background: #f8f9fd;

  --text-color: #ffa724;
  --text-highlight: #5a81fa;

  --javascript-color: #f0db4f;
  --java-color: #f2f4ff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.container {
  padding: 2rem 3rem 1rem 3rem;
}

.texts {
  text-align: center;
  max-width: 40rem;
}

.subdivision {
  max-width: 70%;
}

.text-highlight {
  color: var(--text-highlight);
}

section.cards {
  max-width: 40rem;
  padding: 2rem 3rem 1rem 3rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 12rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.image-javascript {
  background-color: var(--javascript-color);
}

.image-java {
  background-color: var(--java-color);
}

.card-texts {
  padding: 1.5rem 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  border: none;
  background-color: #2b308a;
  color: white;

  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #5a81fa;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5a81fa;
  padding: 1rem 1rem;
  gap: 1rem;
  color: #f9f9f9;
  width: 100%;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

h3,
span {
  background: #5a81fa;
}

@media screen and (max-width: 300px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 12rem;
    display: flex;
    flex-direction: column;
  }

  section.cards {
    display: inline;
  }

  .subdivision {
    max-width: 100%;
  }

  button {
    width: 10rem;
  }

  section {
    max-width: none;
  }

  .card-texts {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 920px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 12rem;
    display: flex;
    flex-direction: column;
  }

  section.cards {
    display: inline;
  }

  .card:last-child {
    margin-bottom: 7rem;
  }

  .subdivision {
    max-width: 100%;
  }

  button {
    width: 10rem;
  }

  section {
    max-width: none;
  }

  .card-texts {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
