* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

:root {
  --background: #f9f9f9;
  --text-color: #ffa724;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text-color {
  color: #0f241d;
}

.text-color-dois {
  color: #fcd397;
}

.texts {
  text-align: center;
}

/* .teste {
  word-break: break-word;
}

.hihi {
  max-width: 50%;
} */

.container {
  padding: 2rem 3rem 1rem 3rem;
}

section {
  /* padding: 2rem 1rem 1rem 1rem; */
  padding: 2rem 3rem 1rem 3rem;

  display: flex;
  max-width: 85%;

  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 12rem;
  display: flex;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

img {
  background-color: #f0db4f;
  /* padding: 0.7rem; */
  /* width: 11rem; */
}

img.java {
  background-color: #b7b8bb;
}

.card-texts-javascript {
  padding: 1.5rem 1rem 0rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  width: 13rem;
  border: none;
  background-color: #ffa724;
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #fcd397;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffa724;
  padding: 1rem 1rem;
  gap: 1rem;
  color: #f9f9f9;
  text-align: center;
  width: 100%;
}

h3,
span {
  background: #ffa724;
}

/* h4, p {
  background-color: red;

} */
@media screen and (max-width: 300px) {

  header {
    background-color: red;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 12rem;
    display: flex;
    flex-direction: column;
  }

  button {
    width: 10rem;
  }

  section {
    max-width: none;
  }

  .card-texts-javascript {
    padding: 1.5rem 1rem 1rem 1rem;

  }

  .hihi {
    background-color: #f0db4f;
  }

  .teste{ 
    background-color: #f0db4f;

  }
}